#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: #fff;
  text-align: center;
}

header {
  grid-area: 1 / 1 / 2 / 3;
  height: 40px;
  background-color: blue;
}

.item1 {
  grid-area: 2 / 1 / 5 / 2;
  background-color: gray;
}

.item2 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: gray;
}

.item3 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: gray;
}

.item4 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: gray;
}

footer {
  grid-area: 5 / 1 / 6 / 3;
  height: 40px;
  background-color: green;
}